@using EntityLayer.Concrete
@model List<Reservation>

@{
    ViewData["Title"] = "ReservationUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Onay Bekleyen Rezervasyonlarım</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"># </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Misafir Ad Soyad </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Rota</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Kişi Saysı</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Tarih</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Detaylar</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                { count += 1; }
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@count</p>
                                        </td>
                                        <td>
                                           @* <p class="text-xs font-weight-bold mb-0">@item.AppUser.Name @item.AppUser.Surname</p>*@
                                        </td>
                                         <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.Destination.DenID</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.PersonCount</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@(((DateTime)item.ReservationDate).ToString("dd-MMM-yyyyy"))</p>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-outline-success">Detaylar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>